<!DOCTYPE html>
<html lang="en">
<head th:insert="~{./fragments/head.html}"></head>
<body class="pt-24">

<th:block th:insert="~{./fragments/header.html}" />

<div class="overflow-x-auto">
    <table class="min-w-full border border-gray-300 text-center text-sm">

        <!-- Header -->
        <thead class="bg-gray-800 text-white">
        <tr>
            <th class="px-4 py-2 border-b border-gray-600">Name</th>
            <th class="px-4 py-2 border-b border-gray-600">Position</th>
            <th class="px-4 py-2 border-b border-gray-600">Age</th>
            <th class="px-4 py-2 border-b border-gray-600">Matches</th>
            <th class="px-4 py-2 border-b border-gray-600">Starts</th>
            <th class="px-4 py-2 border-b border-gray-600">Minutes</th>
            <th class="px-4 py-2 border-b border-gray-600">Goals</th>
            <th class="px-4 py-2 border-b border-gray-600">Assists</th>
            <th class="px-4 py-2 border-b border-gray-600">Penalties</th>
            <th class="px-4 py-2 border-b border-gray-600">Yellow Cards</th>
            <th class="px-4 py-2 border-b border-gray-600">Red Cards</th>
            <th class="px-4 py-2 border-b border-gray-600">xG</th>
            <th class="px-4 py-2 border-b border-gray-600">xAG</th>
            <th class="px-4 py-2 border-b border-gray-600">Team</th>
        </tr>
        </thead>

        <!-- Body -->
        <tbody>
        <tr th:each="player : ${players}" class="odd:bg-white even:bg-gray-100">
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.name}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.position}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.age}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.mp}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.starts}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.min}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.goals}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.assists}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.penaltyKicks}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.yellowCards}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.redCards}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.xg}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.xag}"></td>
            <td class="px-4 py-2 border-b border-gray-300" th:text="${player.team}"></td>
        </tr>
        </tbody>

    </table>
</div>



<!-- Footer -->
<th:block th:insert="~{./fragments/footer.html}" />
</body>
</html>