<!DOCTYPE html>
<html lang="en">
<head th:insert="~{./fragments/head.html}"></head>
<body>

<th:block th:insert="~{./fragments/header.html}" />


<div class="table-responsive">
  <table class="table table-striped table-bordered align-middle text-center">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Age</th>
      <th>Matches</th>
      <th>Starts</th>
      <th>Minutes</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>Penalties</th>
      <th>Yellow Cards</th>
      <th>Red Cards</th>
      <th>xG</th>
      <th>xAG</th>
      <th>Team</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
      <td th:text="${player.name}"></td>
      <td th:text="${player.position}"></td>
      <td th:text="${player.age}"></td>
      <td th:text="${player.mp}"></td>
      <td th:text="${player.starts}"></td>
      <td th:text="${player.min}"></td>
      <td th:text="${player.goals}"></td>
      <td th:text="${player.assists}"></td>
      <td th:text="${player.penaltyKicks}"></td>
      <td th:text="${player.yellowCards}"></td>
      <td th:text="${player.redCards}"></td>
      <td th:text="${player.xg}"></td>
      <td th:text="${player.xag}"></td>
      <td th:text="${player.team}"></td>
    </tr>
    </tbody>
  </table>
</div>


<!-- Footer -->
<th:block th:insert="~{./fragments/footer.html}" />
</body>
</html>