<!DOCTYPE html>
<html lang="en">
<head th:insert="~{./fragments/head.html}"></head>
<body class="d-flex flex-column min-vh-100">

<!-- Header -->
<th:block th:insert="~{./fragments/header.html}" />

<!-- Teams Section -->
<main class="flex-grow-1 container py-5">
    <h2 class="text-center mb-4">Premier League Teams</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-2">

        <div class="col" th:each="team : ${teams}">
            <a th:href="@{'/teams/' + ${team}}" class="card team-card h-100 shadow-sm border-0 text-decoration-none text-dark">
                <div class="card-body text-center">
                    <img src="/images/logo.png" alt="Logo" class="logo me-1">
                </div>
                <div class="card-footer bg-transparent border-0 d-flex justify-content-between align-items-center pe-3 pb-3">
                    <h5 class="card-title fw-bold mb-0" th:text="${team}"></h5>
                    <span class="text-dark fs-5">&rarr;</span>
                </div>
            </a>
        </div>

    </div>
</main>

<!-- Footer -->
<th:block th:insert="~{./fragments/footer.html}" />
</body>
</html>
